/*------------------------------------------------*\
  Functions
\*------------------------------------------------*/

@function pow ($x, $n) {
  $ret: 1;

  @if $n >= 0 {
    @for $i from 0 to $n {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}

@function ms ($n, $base: $ms-base, $ratio: $ms-ratio) {
  @return pow($ratio, $n) * $base;
}



/*------------------------------------------------*\
  Variables
\*------------------------------------------------*/

$heading-font-family: 'Fredoka One', sans-serif;
$font-family: 'Sniglet', sans-serif;

$font-size-root: 18px;
$font-size-base: 1rem;

$ms-ratio: 1.6;
$ms-base: $font-size-base;

$text-color: #3d3d3d;
$gray-light: darken(#fff, 8%);
$gray: darken(#fff, 30%);
$gutter: 20px;

$blue: #34D7F4;
$color-secondary: #f03dad;
$color-tertiary: #fee23d;

$sm-width: 480px;
$sm-up: "(min-width:#{$sm-width})";



/*------------------------------------------------*\
  Styles
\*------------------------------------------------*/

html,
body {
  height: 100%;
}

html {
  font-family: $font-family;
  font-size: $font-size-root;
  line-height: 1.4;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: ms(0);
  color: $text-color;

  @media #{$sm-up} {
    background-color: $gray-light;
    //padding: $gutter $gutter ($gutter * 4) $gutter;
  }
}

h1,
h2 {
  line-height: 1.2;
  margin: 0 0 $gutter 0;
}

h1 {
  display: inline-block;
  font-size: ms(2);
  color: $color-secondary;
  font-family: $heading-font-family;
  position: relative;

  @media #{$sm-up} {
    font-size: ms(3);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $color-tertiary;
    border-radius: 20px;
  }
}

h2 {
  font-size: ms(0);
  color: #fff;
  font-weight: normal;

  @media #{$sm-up} {
    font-size: ms(1);
  }
}

h3 {
  font-size: ms(0);
  //text-transform: uppercase;
  color: $gray;
  margin: 0 0 ($gutter / 2) 0;
  border-bottom: 2px solid $gray-light;
}

/*.drop-shadow {
  @media #{$sm-up} {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 2%;
      height: 16px;
      width: 96%;
      border-radius: 100%;
      box-shadow: 0 50px 6px rgba(#000, .2);
    }
  }
}*/

.wrapper {
  max-width: 700px;
  min-height: 100%;
  margin: auto;
  background-color: #fff;
}

.hero {
  padding: ($gutter * 2) $gutter;
  text-align: center;
  background-color: $blue;
  border-bottom: 4px solid $color-tertiary;

  @media #{$sm-up} {
    padding: ($gutter * 4) ($gutter * 2);
    //border-radius: 8px 8px 0 0;
  }
}

.demo {
  padding: ($gutter * 2);

  @media #{$sm-up} {
    //border-radius: 0 0 8px 8px;
  }
}

.button {
  display: inline-block;
  color: $color-secondary;
  background-color: $color-tertiary;
  border: 2px solid darken($color-tertiary, 14%);
  border-radius: 6px;
  padding: $gutter / 2;
  text-decoration: none;
  margin-right: .6rem;
  transition: all 300ms ease;

  &:focus,
  &:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    transform: scale(1.1) rotateZ(-5deg);
  }
}

textarea {
  display: block;
  width: 100%;
  border: 2px solid $gray-light;
  padding: .4rem;
  margin-bottom: $gutter;
  transition: border-color 150ms ease-out;
  resize: vertical;

  &:focus {
    border-color: $color-secondary;
    outline: none;
  }
}

.demo-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;

  > li {
    font-size: $font-size-base;
    display: inline-block;
    position: relative;
    margin: 0 ($gutter / 2) ($gutter / 2) 0;
  }
}

.demo-link {
  display: block;
  padding: .4rem;
  color: $text-color;
  text-decoration: none;
  background-color: $gray-light;

  &:focus,
  &:hover {
    background-color: $blue;

    + .demo-link__details {
      display: block;
    }
  }
}

.demo-link__details {
  display: none;
  list-style: none;
  margin: 0 0 5px 0;
  position: absolute;
  line-height: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-tertiary;
  padding: $gutter / 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

  &:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $color-tertiary transparent transparent transparent;
  }

  li {
    white-space: nowrap;
  }
}

.demo-link__details__title {
  font-size: .6rem;
  text-transform: uppercase;
  opacity: .8;
  margin-bottom: .2rem;

  &:not(:first-child) {
    margin-top: $gutter;
  }
}

.nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }
}